*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid red;
  background-color: bisque;
}

.debug2{
  border: 1px solid red;
  background-color: rgb(252, 198, 132);
}

/* font condivisi */

body{
  font-family: 'Fredoka One', cursive;
}

h2,H3{
  padding: 10px;
  color: white;
}

ul{
  list-style: none;
}

/* pantoni */

.pantone1{
  background-color: #000000;
}
.pantone2{
  background-color: #282828;
}
.pantone3{
  background-color: #141922;
}
.pantone4{
  background-color: #00000036;
}


/* barra laterale spotify all'interno di main */

#quickbar{
  height: 85vh;
  width: 15%;
  padding:20px;
  overflow-x: hidden;
  position: fixed;
}

.contain{
  height: 100%;
  position: relative;
}

.logo{
  height: 100px;
  width: 100%;
}

.home,
.cerca,
.libreria{
  height: 50px;
  width: 100%;
}

.home img,
.cerca img,
.libreria img{
  height: 100%;
}

.btn{
  height: 50px;
  width: 100%;
  color: gray;
}

button{
  display: inline-block;
  height: 100%;
  width: 50px;
}

.account{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.app{
  font-size: small;
  padding-bottom: 20px;
  height: 2vh;
  border-bottom: 1px solid gray;
  color: gray;
}

.doe{
  height: 3vh;
  font-size: larger;
  color: aliceblue;
}

/* header */

header{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 18px;
  height: 10vh;
  width: 85%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  overflow: hidden;
}

.head{
  width: 20%;
  line-height: 50px;
  height: 60%;
  text-align: center;
  border-radius: 50px;
  border:3px solid aliceblue;
  color: aliceblue;
}

.head span{
  display: block;
}


/* main */

.container{
  height: 100%;
  margin-top: 10vh;
  margin-left: 15%;
  width: 85%;
}

.menu{
  height: 5vh;
  display: flex;
  text-align: center;
}
.contain1,
.contain2,
.contain3{
  display: flex;
  flex-wrap: wrap;
}

.card{
  padding: 20px;
  height: 230px;
  width: calc(100% / 6);
}

.btn .crea{
  display: inline;
}

.contain span{
  display: block;
  margin-top: 1rem;
}

main{ 
  display: flex;
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
  padding: 0;
}


/* footer */

footer{
  height: 20vh;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.foot{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

